# Loading Data into pandas

In [1]:
import pandas as pd

In [13]:
df=pd.read_csv('pokemon_data.csv')
df_xlsx=pd.read_excel('pokemon_data.xlsx')
df_xlsx.head()
df=pd.read_csv('pokemon_data.txt',delimiter='\t')
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# Reading Data in Pandas

In [28]:
#Read Headers
df.columns

#Read Each Column
print(df[['Name','Type 1']])

#Read each Row
df.head()
df.iloc[1:4]
for index, row in df.iterrows():
    print(index, row)
df.loc[df['Type 1']=='Fire']

#Read for Specific Location(R,C)
df.iloc[2,1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Sorting/Describing Data

In [30]:
df.describe()
df.sort_values(['Type 1','HP'],ascending=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

# Making Changes to the data

In [37]:
df['Total']=df['HP']+df['Attack']+df['Defense']
df.head()
df.drop(columns=['Total'])
df['Total']=df.iloc[:,4:9].sum(axis=1)
cols=list(df.columns)
df=df[cols[0:4]+[cols[-1]]+cols[4:12]]
df.head()

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,273,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,345,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,445,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,545,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,244,39,52,43,60,50,65,1

# Saving our Data (Exporting into desired format)

In [ ]:
df.to_csv('modified.csv')
df.to_excel('modified.xlsx',index=False)
df.to_txt('modified.txt')

# Filtering Data

In [45]:
df.loc[(df["Type 1"]=='Grass') & (df['Type 2']=='Poison')]
df.loc[(df["Type 1"]=='Grass') | (df['Type 2']=='Poison')]
new_df=df.loc[(df["Type 1"]=='Grass') & (df['Type 2']=='Poison') & (df['HP']>70)]
new_df=new_df.reset_index(drop=True)
new_df.to_csv('filtered.csv')
df.loc[df['Name'].str.contains('Mega')]
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,273,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,345,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,445,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,False,244,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,False,325,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,505,108,100,121,81,95,95,6
795,719,Diancie,Rock,Fairy,True,550,50,100,150,100,150,50,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,530,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,600,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,530,80,110,120,130,90,70,6

# Conditional Changes

In [48]:
df.loc[df['Type 1']=='Flamer','Type 1']='Fire'
df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,273,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,345,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,445,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,545,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,244,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,550,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,True,590,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,530,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,600,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,530,80,110,120,130,90,70,6

In [1]:
pip install --upgrade pandoc

Requirement already satisfied: pandoc in /Users/jay/opt/anaconda3/lib/python3.9/site-packages (2.2)
Requirement already satisfied: plumbum in /Users/jay/opt/anaconda3/lib/python3.9/site-packages (from pandoc) (1.7.2)
Requirement already satisfied: ply in /Users/jay/opt/anaconda3/lib/python3.9/site-packages (from pandoc) (3.11)
Note: you may need to restart the kernel to use updated packages.